<% if logged_in? %>
    <h2>Hi <%= current_user.username %>!</h2>
<% else %>
    <div class="welcome-page">
        <h3>Welcome to StorieZZZ</h3>

        <h4>StorieZZZ is a Rails web application for memorializing dreams you've had.    
        <br>
        Share them anonymously with the StorieZZZ community, and have fun interpreting each others' dreams!</h4>
    </div>
<% end %>