<% if logged_in? %>
    <h2>Hi <%= current_user.username %>!</h2>
<% else %>
    <h2>Welcome to StorieZZZ</h2>
    <br>
    <h3>StorieZZZ is a Rails web application for memorializing dreams you've had.  Share them anonymously with the StorieZZZ community, and have fun interpreting each others' dreams!</h3>
<% end %>