<% if logged_in? %>
    <h1>Hi <%= current_user.username %>!</h1>
    <h2>
<% else %>
    <h1>Welcome to StorieZZZ</h1>
    <%#= link_to "Log In with Google", '/auth/google_oauth2', method: :post, class: "button is-primary is-inverted is-outlined" %>
<% end %>