<% redirect_if_not_logged_in %>

<h2>Welcome <%= current_user.username %>!</h2>

<h3>My Dreams</h3>

<table>
    <tr>
        <th>Category</th>
        <th>Dream Description</th>
        <th>Date</th>
    </tr>
    <% current_user.dreams.date_order.each do |dream| %>
    <tr>
        <td><%= dream.category.name %></td>
        <td><%= link_to dream.description, dream_path(dream) %></td>
        <td><%= dream.date.strftime("%m/%d/%Y") %></td>
    </tr>
    <% end %>
</table>