<% redirect_if_not_logged_in %>

<h4>The Dream:</h4>
<%= @dream.description %>

<h4>Interpretations of this dream:</h4>
<% @interpretations.each do |i| %>
    <%= i.description %><br>
    <% if i.user_id == current_user.id %>
        <%= link_to "Edit" %>/<%= link_to "Delete", interpretation_path(i), method: :delete %><br>
    <% end%>
<% end %>