<% redirect_if_not_logged_in %>

<h4>The Dream:</h4>
<h5><%= @dream.description %></h5>

<div class="box is-rounded">
    <h4>Interpretations of this dream:</h4>

    <% @interpretations.each do |i| %>
        <h5><%= i.description %>
        <% if i.user_id == current_user.id %>
            <%= link_to "Delete", interpretation_path(i), method: :delete, data: {confirm: "Are you sure?"}, class: "button is-danger is-rounded is-small" %>
        </h5>
        <% end%>
    <% end %>
<div>