body {
  display:flex;
  flex-direction:column;
  justify-content:space-between;
  height:100vh;
}
.header {
  background-color: rgba(19, 20, 70, 0.781);
  padding:1.5rem 1.5rem;
}
.section {
  display:flex;
  flex:1 0 auto;
}
div.level-item {
  font-size: xx-large;
  color: white;
  font-family: 'Courier New', Courier, monospace;    
  font-weight: 600;
}
section.section div.container h2 {
  font-size: 2rem;
}
section.section div.container h3 {
  font-size: 1.3rem;
}
section.section div.container h4 {
  font-size: 1rem;
  font-weight: bold;
}
section.section div.container h5 {
  font-size: 1rem;
}
footer.footer {
  padding:2rem 1.5rem;
  background-color: rgba(19, 20, 70, 0.404);
}
div#error_explanation {
  margin: 10px 22px;
  font-size: 1.2em;
  vertical-align: middle;
  color: #D8000C;
  background-color: #FFD2D2;
  border-radius:.5em;
}
section.section {
  background-image: url("moon-border.png");
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
// button#category > a {
//   color: white;
// }
div.container {
  margin-left: 7em;
  margin-right: 7em;
}
// div.box {
//   background-color: opacify($color: #00000054, $amount: 0);
//   // color: white;
// }
// table.table {
//   background-color: opacify($color: #0000002c, $amount: 0);
//   // color: white;
// }
th {
  background-color: rgba(234, 236, 240, 0.699);
}