<% redirect_if_not_logged_in %>

<h2 class='is-size-3'>Find Dreams by Category</h2>
<br>

<% @categories.each do |c| %>
    <button id="category" class='button is-primary is-outlined is-medium is-rounded'>
        <%= link_to c.name, category_path(c) %>
    </button><span>
<% end %>