<% redirect_if_not_logged_in %>

<h3>Find Dreams by Category</h3>

<div class='has-text-centered'>
    <% @categories.each do |c| %>
        <button id="category" class='button is-primary is-outlined is-medium is-rounded'>
            <%= link_to c.name, category_path(c) %>
        </button><span>
    <% end %>
</div>