<% redirect_if_not_logged_in %>

<h2>New Category</h2>

<%= form_for(@category) do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>

    <%= f.submit "Create Category"%>
<% end %>